@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  height: 550px;
  width: 75%;
  border-radius: 25px;
}

a.active {
  font-weight: 700;
  border-image: linear-gradient(to right, transparent, #999, transparent) 5;
}